<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>Please forgive our dust, we are working to bring our inventory to the rest of 'verse! Please enjoy our current selection of books by following the nav bar at the top of the screen!</p>
      </div>
    </div>

</body>

</html>